.App {
    height: 100vh;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.bordered {
    border: solid 1px white;
}

.button {
    border: solid 1px #8A3D40;
    background-color: #8A3D40;
    color: #FFFFFF;
}

.button:hover {
    /* border: solid 1px #8A3D40;
    background-color: transparent;
    color: #8A3D40; */
    border: solid 1px #aa4d50;
    background-color: #aa4d50;
    color: #FFFFFF;
}

.error-message {
    color: #ff0000;
    height: 24px;
    margin-bottom: 0;
}

.link-text {
    margin-left: 5px;
    color: #8A3D40;
    cursor: pointer
}

.link-text:hover {
    color: #aa4d50;
}