.cv-editor>* {
    min-height: 90vh;
}

.cv-editor-details {
    max-height: 80vh;
    overflow-y: scroll;
}

.cv-editor-details .accordion-button {
    background: none;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    height: 50px;
}

.cv-editor-details .accordion-button[aria-expanded=false] {
    font-size: 20px;
    font-weight: 300;
}

.cv-editor-details *:focus {
    box-shadow: none;
}

.cv-editor-details label {
    font-size: 14px;
}

.cv-editor-details select,
.cv-editor-details input[type=text],
.cv-editor-details input[type=date] {
    padding: 5px 10px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #000000;
}

.cv-editor-details input[type=text]:focus {
    outline-color: #8A3D40;
}

.cv-editor-details input[type=text]#cv-name {
    font-size: 20px;
    border: none;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.cv-editor-details input[type=text]#cv-name:active,
.cv-editor-details input[type=text]#cv-name:focus {
    outline: none;
}

.cv-editor-details select:focus,
.cv-editor-details select:active {
    box-shadow: none;
    border-color: #8A3D40;
    outline: solid 1px #8A3D40;
}

.cv-editor-details *::placeholder {
    color: #00000050;
}

.cv-editor-details button {
    height: 35px;
    font-size: smaller;
} 

.cv-editor-details button.clear-button {
    background-color: transparent;
    border-color: #000000;
    color: #000000;
} 

.cv-editor-details::-webkit-scrollbar {
    width: 10px;
}

.cv-editor-details::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

.cv-editor-details::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8A3D40;
}

.cv-editor-details .add-entry {
    cursor: pointer;
}