.landing-page-text {
    font-size: 50px;
    font-weight: 900;
    line-height: 110%;
}

.landing-page-subtext {
    font-size: 24px;
}

.landing-page-button {
    width: 250px;
    font-weight: 600;
}

.landing-page-link {
    color: #000000;
    text-decoration: underline;
}

.landing-page-link:hover {
    color: #8A3D40
}